.pilt {
  width: 150px;
}

.pilt:hover {
  opacity: 0.7;
}

.nupp {
  border: 2px dotted blue;
}

.nupp:hover {
  font-weight: bold;
}

.kuldne {
  color: goldenrod;
}

.aktiivne-url {
  font-size: 20px;
}

.hele-leht {
  background-color: azure;
  height: 100%;
  min-height: 100vh;
}

.tume-leht {
  background-color: black;
  color: white;
  height: 100%;
  min-height: 100vh;
  /* view height - ekraani kõrgus
  minimaalne selle css klassi kõrgus on ekraani kõrgus view heighites ehk vaate protsentides
  50vh - 50% ekraani kõrgusest */
}

.aktiivne {
  background-color: rgb(241, 248, 241);
  border: 1px solid green;
}

.mitteaktiivne {
  background-color: rgb(249, 244, 244);
  border: 1px solid red;
}